*{
    margin: 0;
    padding: 0;
}

body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
}

.blok1{
    display: flex;
    justify-content: center;
    background-color: red;
  height: 20px;
  width: 20px;
}

.counter{

    display: flex;
    align-items: center;
}
.container{
  justify-content: center;
    align-items: center;
    right:10rem;

}

#space {
    position: relative;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    
  }

  #square {
   bottom: 10rem;
    transition: 500ms ease;
   width: 10vh;
   height:10vh;
   position: relative;
   background-color: #ff2a00
  }
  