*{
    margin: 0;
    
}

.blok1{
    background-color: red;
  height: 20px;
  width: 20px;
}
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#blokje {
    position: absolute;
    transition:500ms ease
}