* {
  margin: 0;
  padding: 0;
}

.blok1 {
  display: flex;
  justify-content: center;
  background-color: red;
  height: 20px;
  width: 20px;
}

.counter {
  display: flex;
  align-items: center;
}
#square {
  transition: ease 500ms;
  bottom: 10rem;
  width: 10vh;
  height: 10vh;
  position: absolute;
  background-color: #ff2a00;
}
